---
import BlogPost from "../components/BlogPost.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = Object.values(
  import.meta.glob("./posts/*.md", { eager: true }) // accéder aux fichiers du projet, retourne un tableau d’objets, un pour chaque article de blog.
);
const pageTitle = "My Astro Learning Blog";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Mon blog d'apprentissage Astro</h2>
  <p>C'est ici que je publierai sur mon parcours d'apprentissage d'Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        <BlogPost url={post.url} title={post.frontmatter.title} />
      ))
    }
  </ul>
</BaseLayout>
